.paymentSchedule {
  thead {
    border-bottom: 1px solid #e2e8f0;
  }

  table {
    margin: 76px 0 43px 0;
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    font-size: 12px;
    font-family: Ubuntu-500;
    padding: 14px 0;
    text-align: left;
  }

  th {
    color: #4a5568;
    text-align: center;
    vertical-align: middle;

    .desc {
      padding: 9px 7px;
    }
  }

  td {
    color: #1a202c;
  }

  .table__title-div {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

.paymentSchedule_footer {
  display: flex;
  justify-content: space-between;

  button {
    width: 96px;
    border-radius: 8px;
    padding: 11px 23px;
  }
}

.paymentSchedule__agreement {
  &-input {
    display: flex;
    align-items: center;
  }
  display: flex;
  align-items: center;

  button {
    margin-left: 40px;
  }

  input:focus {
    outline: none;
  }

  .checkbox__label {
    cursor: pointer;
    font-size: 16px;
    font-family: Ubuntu-500;
    color: #1a202c;
  }

  input {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 14px;
    cursor: pointer;
  }
  .checkbox__input {
    -webkit-appearance: none;
    appearance: none;
  }

  .checkbox__input:checked {
    border: none;
    background: url("../../../../assets/svg/Checkbox_checked.svg") no-repeat;
  }
}

@media (max-width: 768px) {
  .paymentSchedule {
    td {
      padding-right: 30px;
    }
  }
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  .paymentSchedule_footer {
    display: block;
    .paymentSchedule__agreement {
      margin-top: 20px;
    }
  }
}

@media (max-width: 530px) {
  .paymentSchedule__agreement {
    display: block;
    button {
      margin: 20px 0 0 0;
    }
  }
}
// @media (max-width: 768px) {
//   .paymentSchedule {
//     table {
//       display: block;
//       width: 100%;
//     }
//     thead,
//     tbody,
//     thead th {
//       display: block;
//       padding: 10px 0;
//     }

//     thead {
//       float: left;
//     }
//     tbody {
//       overflow-x: auto;
//     }

//     tbody tr {
//       display: table-cell;
//       border-right: 1px solid black;
//     }

//     td {
//       padding-right: 10px 30px;
//       display: block;
//     }
//   }
// }
