@import "../../../scss/mixins.scss";
.prescoring {
  &__topcontainer {
    display: flex;
  }

  &__leftsection {
    padding-right: 40px;
    border-right: 1px dashed #80808066;
    width: 50%;
  }

  &__step {
    @include display-center(align-items);
    justify-content: space-between;

    p {
      @include family-size(Ubuntu-500, 16px);
    }
  }

  input[type="range"] {
    outline: none;
    background-color: #e2e8f0;
    height: 2px;
    width: 100%;
    accent-color: #5b35d5;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #5b35d5;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50px;
  }

  .prescoring__selectamount {
    border: 1px solid #5b35d5;
    border-radius: 10px;
    padding: 24px;
    margin: 32px 0;

    &-p,
    input[type="number"] {
      margin: 20px 0 10px 0;
    }

    input[type="number"] {
      @include family-size(Ubuntu-500, 16px);
    }

    &__maxmin {
      display: flex;
      justify-content: space-between;
      color: #786d6d;
      @include family-size(Ubuntu-500, 16px);
      padding-top: 8px;
    }
  }

  .prescoring__rightsection {
    padding-left: 42px;

    b {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    }

    p {
      @include family-size(Ubuntu-500, 16px);
      outline: none;
      border-bottom: 1px solid #e2e8f0;
      padding-bottom: 10px;
      width: 220px;
    }
  }
  .prescoring__bottomcontainer {
    h4 {
      margin-bottom: 24px;
    }
  }

  .prescoring__information {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;

    select, input {
      width: 287px;
    }

    &-btn {
      display: flex;
      justify-content: flex-end;

      button {
        width: 148px;
        border-radius: 8px;
      }
    }
  }

  input[type="range"]:focus {
    outline: none;
  }
}

@media (max-width: 970px) {
  .prescoring__bottomcontainer {
    h4 {
      text-align: center;
    }
  }
  .prescoring {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .prescoring__information {
    justify-content: center;
  }

  .prescoring__step {
    p {
      margin-left: 198px;
    }
  }
  .prescoring__topcontainer {
    display: block;
  }
  .prescoring__leftsection {
    width: 100%;
    padding: 0;
    border: none;
  }
  .prescoring__rightsection {
    margin-bottom: 32px;
  }
}

@media (max-width: 707px) {
  .prescoring__topcontainer {
    h3 {
      font-size: 20px;
    }
  }
  .prescoring__step {
    p {
      margin-left: 20px;
    }
  }
}
