.select__information-title {
  display: flex;
  font-size: 16px;
  font-family: Ubuntu-500;

  img {
    margin-left: 5px;
  }
}
.select__information-select {
  .invalidselect {
    border: 2px solid #ff5631;
  }
}
