.message {
  height: 371px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  img {
    margin-bottom: 32px;
  }

  h3 {
    font-size: 30px;
    font-family: Ubuntu-700;
    margin-bottom: 32px;
  }

  p {
    font-family: Ubuntu-500;
  }

  a {
    margin-top: 32px;
  }
}
