@import "../../../scss/mixins.scss";

.support {
    text-align: center;

    a {
        cursor: pointer;
    }

    label {
        @include display-property();
        p {
            padding-left: 20px;
        }
    }

    &__appeal-1 {
        color: #EB801D;
        @include family-margin(Ubuntu-700, 24px, 64px);
    }

    &__appeal-2 {
        @include family-margin(Ubuntu-700, 30px, 30px);
    }

    &__appeal-2,
    &__appeal-3 {
        display: block;

        &:hover {
            transition: all 0.2s ease;
            color: #EB801D;
        }
    }

    &__appeal-3 {
        @include family-margin(Ubuntu-500, 30px, 27px);
    }
}

.support__email {
    img {
        cursor: pointer;
    }

    @include display-property();

    input {
        font-size: 20px;
        margin-left: 10px;
        outline: none;
    }
}

.support__search-form {
    margin: 62px auto;
    background-color: #FFFFFF;
    width: 525px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0 rgb(229, 228, 243);
    padding: 22px 32px;
    font-family: NunitoSans-400;
    @include display-property(justify-content, space-between);

    button {
        font-family: Ubuntu-700;
        font-size: 16px;
        @include display-property();
        cursor: pointer;

        &:focus {
            background-color: #575bcc;
        }

        img {
            margin-right: 10px;
        }
    }

    &__button {
        background-color: #686DF1;
        border-radius: 20px;
        font-family: Ubuntu-700;
        color: #FFFFFF;
        padding: 13px;
        border: none;
    }

}

@media (max-width: 560px) {
    .support__search-form {
        width: 380px;
        padding: 12px;
        transition: ease all .6s;

        img {
            display: none;
        }

        button {
            border-radius: 15px;
        }
    }
}