.platinumCard {
  margin: 20px 0 48px 0;
  display: flex;
  background: linear-gradient(#cbd5e0, #feebc8);
  padding: 48px 100px 48px 32px;
  border-radius: 29px;
  box-shadow: 0px 2px 4px rgb(198, 197, 206);
  .platinumCard__img {
    display: flex;
  }

  li:first-child {
    font-size: 20px;
    font-family: Ubuntu-700;
  }

  li:nth-last-child(2) {
    font-size: 16px;
    font-family: Ubuntu-500;
    margin-top: 8px;
  }

  h1 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 48px;
    font-family: Ubuntu-700;
  }

  p {
    font-size: 16px;
    margin-bottom: 32px;
    font-family: Ubuntu-500;
  }

  &__columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    gap: 80px;
  }

  &__description {
    margin-right: 100px;
  }
}

.tooltip {
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #3d3d3d;
  color: #fff;
  text-align: center;
  padding: 8px 30px 8px 7px;
  position: absolute;
  margin-top: 6px;
  font-size: 12px;
  font-family: Ubuntu-500;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 1180px) {
  .platinumCard__columns {
    display: block;

    ul {
      margin-bottom: 32px;
    }
  }
}

@media (max-width: 960px) {
  .tooltiptext {
    margin-left: -70px;
  }

  .platinumCard {
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
    padding: 48px 32px;

    .platinumCard__description {
      margin: 0;
    }

    img {
      margin-bottom: 20px;
      width: 300px;
    }
  }
}

@media (max-width: 550px) {
  .platinumCard {
    h1 {
      font-size: 35px;
    }

    img {
      width: 300px;
    }
  }
}
