.prescoring {
  background-color: #ffffff;
  border-radius: 28px;
  box-shadow: 0 2px 4px rgb(196, 195, 204);
  padding: 32px;
  margin-top: 14px;

  img {
    // margin-left: -50px;
  }

  .prescoring__information {
    span {
      display: block;
      color: #FF5631;
      font-size: 16px;
      font-family: Ubuntu-500;
    }

    h3 {
      margin-bottom: 24px;
      font-size: 20px;
      font-family: Ubuntu-700;
    }

    input {
      background-color: #f9f5e3;
      border-radius: 6px;
      border: 1px solid rgb(225, 222, 208);
      padding: 13px 16px;
      width: 287px;
      margin-top: 8px;
    }

    select {
      background-color: #f9f5e3;
      border-radius: 6px;
      border: 1px solid rgb(225, 222, 208);
      padding: 0 16px;
      width: 287px;
      margin-top: 8px;
      height: 46px;
      -webkit-appearance: none;
      appearance: none;
      
    }

    select:not([multiple]) {
      padding-right: 1.2em;
      background-repeat: no-repeat;
      background-position: calc(100% - 1.25em) 1em;
      background-size: 0.85em auto;
      background-image: url("../../assets/svg/Select.svg");
    }

    &-input {
      margin-bottom: 16px;
    }
  }

  &__topcontainer {
    display: flex;
  }
  &__leftsection {
    padding-right: 40px;
    border-right: 1px dashed #80808066;
    width: 50%;
  }

  &__step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 30px;
      font-family: Ubuntu-700;
    }
    p {
      font-size: 16px;
      font-family: Ubuntu-500;
    }
  }

  input[type="range"] {
    outline: none;
    background-color: #e2e8f0;
    height: 2px;
    width: 100%;
    accent-color: #5b35d5;
  }

  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #5b35d5;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50px;
  }

  .prescoring__selectamount {
    border: 1px solid #5b35d5;
    border-radius: 10px;
    padding: 24px;
    margin: 32px 0;

    &-p {
      margin: 20px 0 10px 0;
    }
    input[type="number"] {
      margin: 20px 0 10px 0;
    }
    p,
    input[type="number"] {
      font-size: 16px;
      font-family: Ubuntu-500;
    }

    &__maxmin {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      color: #786d6d;
      font-family: Ubuntu-500;
      padding-top: 8px;
    }
  }

  .prescoring__rightsection {
    padding-left: 42px;

    b {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    }
    h4 {
      font-size: 20px;
      font-family: Ubuntu-700;
      margin-bottom: 16px;
    }

    p {
      font-size: 16px;
      font-family: Ubuntu-500;
      outline: none;
      border-bottom: 1px solid #e2e8f0;
      padding-bottom: 10px;
      width: 220px;
    }
  }
  .prescoring__bottomcontainer {
    h3 {
      margin-bottom: 24px;
    }
  }
  .prescoring__information {
    gap: 16px;
    display: flex;
    flex-wrap: wrap;
    &-title {
      display: flex;

      img {
        margin-left: 5px;
      }
    }
    p {
      font-family: Ubuntu-500;
      font-size: 16px;
    }

    &-btn {
      display: flex;
      justify-content: flex-end;
      button {
        width: 148px;
        border-radius: 8px;
      }
    }
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      display: none;
    }
    input[type=date]::-webkit-calendar-picker-indicator {
      display: none;
    }

    .invalidinput {
      border: 2px solid #ff5631;
    }
  }

  input:focus {
    outline: 2px solid #5b35d5;
  }

  input[type="range"]:focus {
    outline: none;
  }

  label {
    position: relative;

    img {
      position: absolute;
      right: 16px;
      top: 10%;
    }
  }
}

@media (max-width: 970px) {
  .prescoring__bottomcontainer {
    h3 {
      text-align: center;
    }
  }
  .prescoring {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .prescoring__information {
    justify-content: center;
  }

  .prescoring__step {
    p {
      margin-left: 198px;
    }
  }
  .prescoring__topcontainer {
    display: block;
  }
  .prescoring__leftsection {
    width: 100%;
    padding: 0;
    border: none;
  }
  .prescoring__rightsection {
    margin-bottom: 32px;
  }
}

@media (max-width: 707px) {
  .prescoring__topcontainer {
    h3 {
      font-size: 20px;
    }
  }
  .prescoring__step {
    p {
      margin-left: 20px;
    }
  }
}
