.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    display: flex;
    justify-content: end;

    button {
      margin-left: 40px;
      width: 96px;
      border-radius: 8px;
    }
  }

  &__container {
    width: 448px;
    height: 174px;
    background-color: #ffffff;
    padding: 16px;

    p {
      font-size: 16px;
      font-family: Ubuntu-500;
      margin: 16px 0 35px 0;
    }
  }

  &__topcontainer {
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 16px;
      font-family: Ubuntu-700;
    }

    img {
      cursor: pointer;
    }
  }
}
