.exchangeRate {
    border-radius: 28px;
    background: linear-gradient(#F4F4F4E5, #B2B2B2CC);
    padding: 32px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;

    h3 {
        font-family: Ubuntu-500;
        font-size: 30px;
    }

    img {
        margin: 79px 0 0 160px;
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__value {
        font-family: Ubuntu-700;
        font-size: 20px;
        margin-right: 32px;
    }

    &__courses-a {
        font-family: Ubuntu-700;
        font-size: 20px;
        color: #FFFFFF;

        &:hover {
            color: #1D1929;
            transition: all 0.2s ease;
        }
    }

    &__time {
        font-family: Ubuntu-500;
        font-size: 16px;
    }
}

.exchangeRate__currency {
    font-family: Ubuntu-700;
    font-size: 20px;
    color: #808080;
    margin-right: 20px;

    &-p {
        font-family: Ubuntu-500;
        font-size: 20px;
        margin: 24px 0 32px 0;
    }

    &-table {
        margin-top: 32px;
        margin-bottom: 51px;
        display: flex;
    }
}

@media (max-width: 900px) {
    .exchangeRate {
        flex-wrap: wrap;
        flex-direction: column-reverse;

        ul {
            flex-wrap: wrap;
        }

        &__container {
            flex-direction: row;
            align-items: end;
            margin-bottom: 24px;
        }

        img {
            margin: 0 20px 0 20px;
            width: 50px;
        }
    }
}