.main {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

.cardDesign {
    display: flex;
    margin-top: 131px;

    h1 {
        font-family: Ubuntu-700;
        font-size: 48px;
        margin-right: 160px;
    }

    button {
        margin-top: 36px;
    }
}

.cardDesign__container {
    img {
        margin: 8px;
    }
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 112px;

    img {
        margin-right: 74px;
    }
}

.features__item {
    h2 {
        font-family: Rubik-500;
        font-size: 35px;
    }

    img {
        margin-right: 18px;
    }

    ul {
        margin-top: 25px;
    }

    p {
        margin-top: 20px;
    }

    p,
    li {
        font-family: Rubik-400;
    }

    li {
        padding-bottom: 12px;
        display: flex;
        align-items: center;
        font-size: 14px;
    }
}

.global,
.news {
    text-align: center;
    font-family: Ubuntu-500;
    margin-top: 48px;
}

.global {
    img {
        margin-top: 48px;
    }
}

.news_container {
    display: flex;
    gap: 80px;
    margin-top: 46px;
}

.news__card {
    background-color: #FFFFFF;
    border-radius: 28px;
    box-shadow: 0px 2px 4px 0 rgb(197, 196, 205);
    border: 1px solid rgb(237, 237, 237);
    padding: 32px;
    font-family: Ubuntu-500;
    width: 320px;

    h4 {
        font-size: 20px;
        margin-top: 32px;
    }

    p {
        font-size: 16px;
        margin-top: 32px;
    }
}

.news__buttons {
    text-align: right;
    margin-top: 48px;
}


.heading {
    font-size: 30px;
    margin-top: 21px;
}

.paragraph {
    font-size: 16px;
    margin-top: 21px;
}

@media (max-width: 1290px) {

    .cardDesign {
        flex-wrap: wrap;

        &__container {
            margin-top: 36px;
        }
    }
}

@media (max-width: 920px) {

    .features {
        flex-wrap: wrap;

        h2 {
            margin-top: 48px;
        }
    }
}


@media (max-width: 764px) {

    .news_container {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1100px) {

    .news_container {
        flex-wrap: wrap;
    }

    .global {
        img {
            width: 500px;
        }
    }
}