.defaultButton {
    background-color: #003CFF;
    border-radius: 16px;
    border: none;
    font-family: Ubuntu-700;
    font-size: 16px;
    color: #FFFFFF;
    padding: 16px;
    cursor: pointer;
}