@import "../../scss/variables";

.header__container {
    display: flex;
    max-width: $max-width;
    padding: 0 10px;
    margin: 7px auto;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    font-family: Ubuntu-700;
    font-size: 24px;
    color: #B4387A;
}

.menu__list {
    display: flex;
    font-family: Ubuntu-700;
    gap: 40px;

    &-link {
        color: #1D1929;
        -webkit-transition: all 0.5s ease;
        transition: all 0.2s ease;

        &:hover {
            color: $nav-link;
        }
    }
}

#burger,
[for=burger] {
    display: none;
}


@media screen and (max-width: 720px) {
    .container {
        width: 80%;
    }

    [for=burger] {
        display: block;
        width: 30px;
        text-align: center;
        top: 10px;
    }

    [for=burger]::before {
        content: '☰';
    }

    nav {
        display: none;
        position: absolute;
        margin-top: 300px;
        background: #F5F4FF;
        width: 55%;
        user-select: none;
        padding: 12px;
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
        opacity: 99%;
        border-radius: 20px;

        ul {
            padding: 0;
            list-style-type: none;
            flex-direction: column;
            row-gap: 30px;
        }
    }

    #burger:checked+label+nav {
        display: block;
        animation: show .5s ease;
        font-size: 20px;
    }

    #burger:checked+[for=burger]::before {
        content: ' ☓ ';
        position: absolute;
        background: #F5F4FF;
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
        border-radius: 20px;  
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}