.footer {
    background-color: #e7e7e7;
    padding-top: 96px;
    margin-top: 98px;
}

.footer__container {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;

    p,
    .email {
        font-family: Ubuntu-500;
    }

    p {
        padding-bottom: 92px;
    }

    .email {
        padding-bottom: 32px;
    }
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer_adress {
    display: flex;
    flex-direction: column;
}

.phone {
    font-size: 30px;
    font-family: Ubuntu-700;
    margin-bottom: 6px;
}

.footer__list {
    display: flex;
    font-family: Ubuntu-500;
    flex-wrap: wrap;
}

.footer__list-item {
    padding: 0 32px 8px 0;
}

.hr-line {
    margin: 20px 0 32px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #FFFFFFCF;
}