.footer {
    background-color: #e7e7e7;
    padding-top: 96px;
    margin-top: 98px;

    &__container {
        max-width: 1300px;
        padding: 0 10px;
        margin: 0 auto;

        p,
        .email {
            font-family: Ubuntu-500;
        }

        p {
            padding-bottom: 92px;
        }

        .email {
            padding-bottom: 32px;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &_adress {
        display: flex;
        flex-direction: column;
    }

    &__list {
        display: flex;
        font-family: Ubuntu-500;
        flex-wrap: wrap;
    }

    &__list-item {
        padding: 0 32px 8px 0;
    }
}

.phone {
    font-size: 30px;
    font-family: Ubuntu-700;
    margin-bottom: 6px;
}

.hr-line {
    margin: 20px 0 32px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #FFFFFFCF;
}

@media (max-width: 470px) {
    .footer__info {
        flex-wrap: wrap;
    }
}