.tooltip {
  cursor: pointer;

  b {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
  }
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 170px;
  background-color: #3d3d3d;
  color: #fff;
  padding: 8px 30px 8px 7px;
  position: absolute;
  margin-top: 6px;
  font-size: 12px;
  font-family: Ubuntu-500;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (max-width: 960px) {
  .tooltiptext {
    margin-left: -70px;
  }
}
