@charset "UTF-8";
.footer {
  background-color: #e7e7e7;
  padding-top: 96px;
  margin-top: 98px;
}

.footer__container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.footer__container p {
  font-family: Ubuntu-500;
  padding-bottom: 92px;
}

.footer__container .email {
  font-family: Ubuntu-500;
  padding-bottom: 32px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer_adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Ubuntu-500;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list-item {
  padding: 0 32px 8px 0;
}

.footer a:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #B2A35F;
}

.phone {
  font-size: 30px;
  font-family: Ubuntu-700;
  margin-bottom: 6px;
}

.hr-line {
  margin: 20px 0 32px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px solid #FFFFFFCF;
}

@media (max-width: 470px) {
  .footer__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  padding: 0 10px;
  margin: 7px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_logo {
  font-family: Ubuntu-700;
  font-size: 24px;
  color: #B4387A;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Ubuntu-700;
  gap: 40px;
}

.menu__list-link {
  color: #1D1929;
  -webkit-transition: all 0.5s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu__list-link:hover {
  color: #B2A35F;
}

#burger,
[for=burger] {
  display: none;
}

@media screen and (max-width: 720px) {
  .container {
    width: 80%;
  }
  [for=burger] {
    display: block;
    width: 30px;
    text-align: center;
    top: 10px;
  }
  [for=burger]::before {
    content: '☰';
  }
  nav {
    display: none;
    position: absolute;
    margin-top: 300px;
    background: #F5F4FF;
    width: 55%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 12px;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    opacity: 99%;
    border-radius: 20px;
  }
  nav ul {
    padding: 0;
    list-style-type: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  #burger:checked + label + nav {
    display: block;
    -webkit-animation: show .5s ease;
            animation: show .5s ease;
    font-size: 20px;
  }
  #burger:checked + [for=burger]::before {
    content: ' ☓ ';
    position: absolute;
    background: #F5F4FF;
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.defaultButton {
  background-color: #003CFF;
  border-radius: 16px;
  border: none;
  font-family: Ubuntu-700;
  font-size: 16px;
  color: #FFFFFF;
  padding: 16px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.defaultButton:hover {
  background-color: #7796C0;
}

.main {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.cardDesign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 131px;
}

.cardDesign h1 {
  font-family: Ubuntu-700;
  font-size: 48px;
  margin-right: 160px;
}

.cardDesign button {
  margin-top: 36px;
}

.cardDesign__container img {
  margin: 8px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 112px;
}

.features img {
  margin-right: 74px;
}

.features__item h2 {
  font-family: Rubik-500;
  font-size: 35px;
}

.features__item img {
  margin-right: 18px;
}

.features__item ul {
  margin-top: 25px;
}

.features__item p {
  margin-top: 20px;
}

.features__item p,
.features__item li {
  font-family: Rubik-400;
}

.features__item li {
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.global,
.news {
  text-align: center;
  font-family: Ubuntu-500;
  margin-top: 48px;
}

.global img {
  margin-top: 48px;
}

.news_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  margin-top: 46px;
}

.news__card {
  background-color: #FFFFFF;
  border-radius: 28px;
  -webkit-box-shadow: 0px 2px 4px 0 #c5c4cd;
          box-shadow: 0px 2px 4px 0 #c5c4cd;
  border: 1px solid #ededed;
  padding: 32px;
  font-family: Ubuntu-500;
  width: 320px;
}

.news__card h4 {
  font-size: 20px;
  margin-top: 32px;
}

.news__card p {
  font-size: 16px;
  margin-top: 32px;
}

.news__buttons {
  text-align: right;
  margin-top: 48px;
}

.heading {
  font-size: 30px;
  margin-top: 21px;
}

.paragraph {
  font-size: 16px;
  margin-top: 21px;
}

@media (max-width: 1290px) {
  .cardDesign {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cardDesign h1 {
    margin-right: 0;
  }
  .cardDesign__container {
    margin-top: 36px;
  }
}

@media (max-width: 1100px) {
  .news_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .global img {
    width: 500px;
  }
}

@media (max-width: 920px) {
  .features {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .features__illustration {
    margin-right: 0;
  }
  .features h2 {
    margin-top: 48px;
  }
}

@media (max-width: 764px) {
  .news_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 588px) {
  .features__illustration {
    width: 350px;
  }
}

@media (max-width: 515px) {
  .cardDesign h1 {
    font-size: 35px;
  }
  .global img {
    width: 350px;
  }
}

.support {
  text-align: center;
}

.support a {
  cursor: pointer;
}

.support label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.support__appeal-1 {
  color: #EB801D;
  font-family: Ubuntu-700;
  font-size: 24px;
  margin-top: 64px;
}

.support__appeal-2 {
  font-family: Ubuntu-700;
  font-size: 30px;
  margin-top: 30px;
}

.support__appeal-2, .support__appeal-3 {
  display: block;
}

.support__appeal-2:hover, .support__appeal-3:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #EB801D;
}

.support__appeal-3 {
  font-family: Ubuntu-500;
  font-size: 30px;
  margin-top: 27px;
}

.support__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.support__email img {
  cursor: pointer;
}

.support__email input {
  font-size: 20px;
  margin-left: 10px;
  outline: none;
}

.support__search-form {
  margin: 62px auto;
  background-color: #FFFFFF;
  width: 525px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 20px 0 #e5e4f3;
          box-shadow: 0px 10px 20px 0 #e5e4f3;
  padding: 22px 32px;
  font-family: NunitoSans-400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.support__search-form button {
  font-family: Ubuntu-700;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.support__search-form button:focus {
  background-color: #575bcc;
}

.support__search-form button img {
  margin-right: 10px;
}

.support__search-form__button {
  background-color: #686DF1;
  border-radius: 20px;
  font-family: Ubuntu-700;
  color: #FFFFFF;
  padding: 13px;
  border: none;
}

@media (max-width: 560px) {
  .support__search-form {
    width: 380px;
    padding: 12px;
    -webkit-transition: ease all .6s;
    transition: ease all .6s;
  }
  .support__search-form img {
    display: none;
  }
  .support__search-form button {
    border-radius: 15px;
  }
}

.exchangeRate {
  border-radius: 28px;
  background: -webkit-gradient(linear, left top, left bottom, from(#F4F4F4E5), to(#B2B2B2CC));
  background: linear-gradient(#F4F4F4E5, #B2B2B2CC);
  padding: 32px;
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.exchangeRate h3 {
  font-family: Ubuntu-500;
  font-size: 30px;
}

.exchangeRate img {
  margin: 79px 0 0 160px;
}

.exchangeRate__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.exchangeRate__value {
  font-family: Ubuntu-700;
  font-size: 20px;
  margin-right: 32px;
}

.exchangeRate__courses-a {
  font-family: Ubuntu-700;
  font-size: 20px;
  color: #FFFFFF;
}

.exchangeRate__courses-a:hover {
  color: #1D1929;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.exchangeRate__time {
  font-family: Ubuntu-500;
  font-size: 16px;
}

.exchangeRate__currency {
  font-family: Ubuntu-700;
  font-size: 20px;
  color: #808080;
  margin-right: 20px;
}

.exchangeRate__currency-p {
  font-family: Ubuntu-500;
  font-size: 20px;
  margin: 24px 0 32px 0;
}

.exchangeRate__currency-table {
  margin: 32px 0 51px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  .exchangeRate {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .exchangeRate ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .exchangeRate__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    margin-bottom: 24px;
  }
  .exchangeRate img {
    margin: 0 20px 0 20px;
    width: 50px;
  }
}

@font-face {
  font-family: Ubuntu-700;
  src: url(../../public/assets/fonts/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
  font-family: Ubuntu-500;
  src: url(../../public/assets/fonts/Ubuntu/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: Rubik-400;
  src: url(../../public/assets/fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: Rubik-500;
  src: url(../../public/assets/fonts/Rubik/Rubik-Medium.ttf);
}

@font-face {
  font-family: NunitoSans-400;
  src: url(../../public/assets/fonts/NunitoSans/NunitoSans_10pt-Regular.ttf);
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F5F4FF;
}
/*# sourceMappingURL=index.css.map */