@import "../components/Footer/footer";
@import "../components/Header/header";
@import "../components/UI/Button/button";
@import "../components/Main/main";
@import "../components/Main/support";
@import "../components/Main/exchngeRate";

@font-face {
    font-family: Ubuntu-700;
    src: url(../../public/assets/fonts/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: Ubuntu-500;
    src: url(../../public/assets/fonts/Ubuntu/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Rubik-400;
    src: url(../../public/assets/fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik-500;
    src: url(../../public/assets/fonts/Rubik/Rubik-Medium.ttf);
}

@font-face {
    font-family: NunitoSans-400;
    src: url(../../public/assets/fonts/NunitoSans/NunitoSans_10pt-Regular.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #F5F4FF;
}