$path: "../assets/fonts";

@font-face {
    font-family: Ubuntu-700;
    src: url(#{$path}/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: Ubuntu-500;
    src: url(#{$path}/Ubuntu/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: Rubik-400;
    src: url(#{$path}/Rubik/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik-500;
    src: url(#{$path}/Rubik/Rubik-Medium.ttf);
}

@font-face {
    font-family: NunitoSans-400;
    src: url(#{$path}/NunitoSans/NunitoSans_10pt-Regular.ttf);
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #F5F4FF;
}