@mixin family-size($family, $size) {
  font-family: $family;
  font-size: $size;
}

@mixin size-marginT($size, $marginT) {
  font-size: $size;
  margin-top: $marginT;
}

@mixin display-center($property) {
  display: flex;
  #{$property}: center;
}

@mixin family-margin($family, $size, $marginTop) {
  font-family: $family;
  font-size: $size;
  margin-top: $marginTop;
}

@mixin display-property($property: align-items, $ltr-value: center) {
  display: flex;
  #{$property}: $ltr-value;
}

@mixin family-paddingB($paddingB) {
  font-family: Ubuntu-500;
  padding-bottom: $paddingB;
}

@mixin notActiveBtn() {
  background-color: #fff;
  border: 1px solid #003cff;

  svg path {
    stroke: #121111;
  }
}

@mixin form-inputselect($vertical, $horizontal) {
  padding: $vertical $horizontal;
  background-color: #f9f5e3;
  border-radius: 6px;
  border: 1px solid rgb(225, 222, 208);
  margin-top: 8px;
}
