.content {
  display: none;
}

.tabs {
  cursor: pointer;

  &__block {
    display: flex;
    color: #7b7454;
    font-size: 16px;
    font-family: Ubuntu-500;
    gap: 32px;
    border-bottom: 2px solid rgb(222, 221, 230);
  }

  &__content {
    flex-grow: 1;
  }
}

.active-content {
  display: block;
}

.active-tabs {
  padding-bottom: 11px;
  border-bottom: 2px solid #7b7454;
}
